body {
	background-color: #1E1C3B;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div {
	margin: 2% 3%;
	background-color: #4546A7;
	padding: 10px 5px;
	border-style: solid;
	border-width: 4px;
	border-color: #999999;
	color: #FFFFFF;
	text-shadow: 0px 0px 1px #E6E6E6;
	box-shadow: 1px 1px 10px #FFFFFF;
}

ul {
	padding-left: 50px;
}

h1 {
	margin: 0px;
	padding: 2% 0% 2% 20%;
	font-size: 40px;
	background-color:#4B4BC9;
	color: #FFFFFF;
	box-shadow: 1px 3px 10px #FFFFFF;
}

li {
	padding-bottom: 3px;
	font-size: 18px;
}

p {
	padding: 10px;
	font-size: 18px;
}

h2 {
	margin-left: 30px;
	font-size: 30px;
}

footer {
	margin: 0px;
	padding: 1% 0% 2% 20%;
	font-size: 20px;
	background-color:#4B4BC9;
	color: #FFFFFF;
	box-shadow: 1px 3px 10px #FFFFFF;
}